@import url(tui.css);
@import url(layout.css);
@import url(skin.css);


:root {
	line-height: 1.2;
}

body {
	margin: 0;
	background-color: #000; /* fixme */
}

#intro {
	color: gray;
	font-size: 16px;

	input {
		text-transform: uppercase;
		text-align: center;
		width: 8ch;
	}
}

#game {
	background-color: var(--bg);
	color: var(--fg);

	#heading {
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#map {
		&:not([hidden]) { display: flex; }
		align-items: center;
		justify-content: center;
	}

	#log {
		background-color: gray;
	}

	#saloon, #hotel {
		padding: 0 1ch;
	}

	rl-display {
		font-family: inherit;
		--tile-height: 1rem;
		--tile-width: 0.75rem;

		&::part(track) { font-weight: bold; }
	}
}

