@import url(tui.css);
@import url(skin.css);


:root {
	line-height: 1.2;
}

rl-display {
	font-family: inherit;
	--tile-height: 1rem;
	--tile-width: 0.75rem;

	&::part(track) { font-weight: bold; }
}

body {
	margin: 0;
}

#game {
	display: grid;
	grid-template-areas:
		"heading heading"
		"nav log"
		"main log"
		"status status";

	grid-template-columns: auto 40ch;
	grid-template-rows: auto auto auto auto;

	width: fit-content;

	#heading {
		grid-area: heading;
		font-weight: bold;
		text-align: center;
		padding: 1lh 0;
		--border: var(--fg);
	}

	#main {
		grid-area: main;
	}

	#map {
		width: 100%;
		height: 100%;

		&:not([hidden]) { display: flex; }
		align-items: center;
		justify-content: center;
	}


	#log {
		grid-area: log;
		overflow: auto;
		background-color: gray;
	}

	#nav {
		grid-area: nav;
		display: flex;
		gap: 1ch;
		padding-left: 1ch;

		span {
			xpadding: 0 1ch;

			&:not(.border-visible) {
				--border-color: transparent;
			}
		}
	}

	#status {
		grid-area: status;
	}
}

