:root {
	/*
	xcolor: #e4c388;
	xcolor: #cb9651;
	xcolor: #a06335;
	xcolor: #663219;
	xcolor: #250f0b;
	*/

	/* text */
	--fg: #cb9651;

	/* background */
	--bg: #663219;

	/* active links, currently selected markers */
	--highlight: #e4c388;

	/* ??? */
	--border-color: var(--highlight);

	/* dialog backdrop */
	--backdrop: rgba(0 0 0 / 0.5);


	/* currently selected background */
	--active-bg: rgba(0 0 0 / 0.2);

	--gold: gold;

	/* status label */
	--label: #888;
}
