@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@fontsource/monaspace-neon@5.2.5/index.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/monaspace-argon@5.2.5/index.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/monaspace-xenon@5.2.5/index.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

@font-face {
	font-family: "monaspace xenon 2";
	src: url("fonts/Monaspace Xenon/Monaspace Xenon Var.woff2") format("woff2");
}

@font-face {
	font-family: "monaspace xenon 3";
	src: url("fonts/monaspace-xenon-latin-400-normal.woff2") format("woff2");
	font-weight: 400;
}

@font-face {
	font-family: "monaspace xenon 3";
	src: url("fonts/monaspace-xenon-latin-700-normal.woff2") format("woff2");
	font-weight: 700;
}

@font-face {
	font-family: "input";
	src: url("fonts/Input-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "metrickal";
	src: url("fonts/Metrickal-Regular.otf") format("opentype");
}

@font-face {
	font-family: "mononoki";
	src: url("fonts/mononoki-Regular.otf") format("opentype");
}

* {
	box-sizing: border-box;
}

:root {
	&[data-font=monospace] { font-family: monospace; }
	&[data-font=cascadiacode] { font-family: cascadia code; }
	&[data-font=cascadiamono] { font-family: cascadia mono; }
	&[data-font=xenon3] { font-family: "monaspace xenon 3"; }
	&[data-font=xenon2] { font-family: "monaspace xenon 2"; }
	&[data-font=input] { font-family: "input"; }
	&[data-font=metrickal] { font-family: "metrickal"; }
	&[data-font=mononoki] { font-family: "mononoki"; }
	&[data-font=inconsolata] { font-family: "inconsolata"; }
}

button, input, select, option, kbd {
	font: inherit;
}

dialog {
	border: none;
	outline: none;
	padding: 2lh 2ch;
	color: inherit;
	background-color: inherit;

	&::backdrop { background-color: rgba(0 0 0 / 0.5); }

	footer {
		margin-top: 1lh;
		display: flex;
		justify-content: space-between;
		padding: 0 2ch;

		&:has(span:only-child) {
			justify-content: center;
		}
	}
}

kbd {
	font-weight: bold;
	text-decoration: underline;
}

.border {
	border-radius: 2px;
	--spacing: calc(0.5lh - var(--border-width)/2) calc(0.5ch - var(--border-width)/2);
	--border: var(--border-width) var(--border-style) var(--border-color);


	&.single {
		--border-style: solid;
		--border-width: 2px;
	}

	&.double {
		--border-style: double;
		--border-width: 6px;
	}

	&.outside {
		padding: var(--spacing);
		margin: var(--spacing);
		border: var(--border);
	}

	&.inside {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			inset: var(--spacing);
			border: var(--border);
		}
	}
}

table.item-table {
	border-collapse: collapse;
	margin: 0.5lh 0;

	td {
		padding: 0.5lh 1ch;
		&:first-child {
			padding-left: 2ch;
		}

		&:last-child {
			padding-right: 2ch;
		}
	}

	.active {
		td { background-color: rgba(0 0 0 / 0.2); }

		td:first-child::before, td:last-child::after { color: var(--highlight); }

		td:first-child {
			padding-left: 0;
			&::before { content: "» "; }
		}
		td:last-child {
			padding-right: 0;
			&::after { content: " «"; }
		}
	}
}

#nav, #heading {
	--border-width: 2px;
	--spacing: calc(0.5lh - var(--border-width)/2);
	padding-bottom: var(--spacing);
	margin-bottom: var(--spacing);
	border-bottom: var(--border-width) solid var(--highlight);
}

#nav {
	display: flex;

	span {
		--spacing: 0.5lh 0.5ch;
		padding: var(--spacing);
		margin: var(--spacing);

		&::before, &::after { color: var(--highlight); }

		&.active {
			border-radius: 2px;
			background-color: rgba(0 0 0 / 0.2);
			font-weight: bold;

			&::before { content: "» "; }
			&::after { content: " «"; }

			kbd {
				color: inherit;
				text-decoration: none;
			}
		}
	}
}
