@font-face {
	font-family: "cascadia mono";
	src: url("CascadiaMono.woff2") format("woff2");
}

* {
	box-sizing: border-box;
}

:root {
	--radius: 4px;
	font-family: cascadia mono, monospace;
}

button, input, select, option, kbd, pre {
	font: inherit;
}

dialog {
	border: none;
	outline: none;
	padding: 2lh 2ch;
	color: inherit;
	background-color: inherit;

	&::backdrop { background-color: var(--backdrop); }

	footer {
		margin-top: 1lh;
		display: flex;
		justify-content: space-between;
		padding: 0 1ch;

		&:has(span:only-child) {
			justify-content: center;
		}
	}
}

input {
	border: none;
	padding: 0;
	outline: none;
	background-color: transparent;
	&:focus { background-color: var(--active-bg); }
}

kbd {
	color: var(--highlight);
	font-weight: bold;
	text-decoration: underline;
}

.border {
	border-radius: 2px;
	--spacing: calc(0.5lh - var(--border-width)/2) calc(0.5ch - var(--border-width)/2);
	--border: var(--border-width) var(--border-style) var(--border-color);


	&.single {
		--border-style: solid;
		--border-width: 2px;
	}

	&.double {
		--border-style: double;
		--border-width: 6px;
	}

	&.outside {
		padding: var(--spacing);
		margin: var(--spacing);
		border: var(--border);
	}

	&.inside {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			inset: var(--spacing);
			border: var(--border);
		}
	}
}

table {
	border-collapse: collapse;

	td { padding: 0.5lh 1ch; }
}

table.item-table {
	margin: 0.5lh 0;

	td {
		&:first-child {
			padding-left: 3ch;
		}

		&:last-child {
			padding-right: 3ch;
		}
	}

	.active {
		td { background-color: var(--active-bg); }

		td:first-child::before, td:last-child::after { color: var(--highlight); }

		td:first-child {
			border-radius: var(--radius) 0 0 var(--radius);
			padding-left: 1ch;
			&::before { content: "» "; }
		}
		td:last-child {
			border-radius: 0 var(--radius) var(--radius) 0;
			padding-right: 1ch;
			&::after { content: " «"; }
		}
	}
}

table.game-over {
	margin-top: 1lh;
	margin-bottom: 0.5lh;

	td:first-child {
		color: var(--label);
		text-align: right;
	}

	.total {
		font-weight: bold;
		--border-width: 2px;

		td {
			position: relative;
			padding-top: 1.5lh;
			&::before {
				content: "";
				position: absolute;
				inset: calc(0.5lh - var(--border-width)/2) 0 0 0;
				border-top: var(--border-width) solid var(--fg)
			}
		}
	}
}

#nav, #heading {
	--border-width: 2px;
	--spacing: calc(0.5lh - var(--border-width)/2);
	padding-bottom: var(--spacing);
	margin-bottom: var(--spacing);
	border-bottom: var(--border-width) solid var(--highlight);
}

#nav {
	display: flex;

	span {
		padding: 0.5lh 0.5ch;
		margin: 0.5lh 1ch;

		&::before, &::after { color: var(--highlight); }

		&.active {
			border-radius: var(--radius);
			background-color: var(--active-bg);
			font-weight: bold;

			&::before { content: "» "; }
			&::after { content: " «"; }

			kbd {
				color: inherit;
				text-decoration: none;
			}
		}
	}
}
