.border, .border-double, .border-bottom, .border-bottom-double {
	position: relative;
	&::before {
		content: "";
		position: absolute;
	}
}

.border, .border-bottom {
	--border-style: solid;
	--border-width: 2px;
}

.border-double, .border-bottom-double {
	--border-style: double;
	--border-width: 6px;
}

.border::before, .border-double::before {
	inset: calc(0.5lh - var(--border-width)/2) calc(0.5ch - var(--border-width)/2);
	border: var(--border-width) var(--border-style) var(--border);
}

.border-bottom::before, .border-bottom-double::before {
	inset: calc(0.5lh - var(--border-width)/2) 0;
	border-bottom: var(--border-width) var(--border-style) var(--border);
}